{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <div class="article-metadata">
                    <b>{{ post.author }}</b>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
<form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
